body, html{
    background: url(images/chalkboard.jpg);
    background-size: cover;
    color: #FFFFFF;
}
.page-header h1, h3{
    font-weight: 600;
}
button {
    margin-left: 6px;
}
thead tr{
    font-size: 17px;
}
tbody tr{
    font-size: 14px;
    font-weight: 400;
}





